.popular{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}
.popular hr{
    width: 150px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.popular-item{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 35px;
    padding-left: 150px;
}